<html>
    <head>
        <title>Pedra, Papel, Tesoura</title>
        <script src = "static/script.js" type = "text/javascript" charset = "utf-8"></script>
        <link rel = "stylesheet" href = "static/styles.css">
    </head>

    <body>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity = "sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

        <!--Header of the web page-->
        <h1 style = "float: center; text-align: center;">Pedra, Papel, Tesoura</h1>
        <h4 style = "float: right; text-align: right; position: absolute; top: 5px; right: 5px;">Gonçalo&Grilo Inc.</h4>

        <form style = 'height:5%; position: absolute; top: 10px; left: 10px;'>
			Raspberry IP:<br>
			<input style:'display:inline' type = "text" value = '' id = 'raspIP'>
			<input style:'display:inline' type = "button" onclick = raspConnect() value = "Connect!">
		</form>

        <!--Body of the web page-->
        <p style="text-align: center; vertical-align: middle; float:center;">
            <figure style = "position: absolute; left: 200px; top: 100px;">
                <figcaption style = "text-align:center;">TU</figcaption> 
                <img id = "img" src = "static/classification_game_scissor.png">
            </figure>  

            <h2 id = "result" style = "text-align: center; float: center; position: absolute; top: 240px; width: 100%;">PERDESTE :(</h2>

            <figure style = "position: absolute; right: 200px; top: 100px;">  
                <figcaption style = "text-align:center;">COMPUTADOR</figcaption> 
                <img id = "imgpc" src = "static/classification_game_stone.png">
            </figure>  
        </p>

        <input style:'display:inline' type = "button" onclick = playRPS(0) value = "Pedra" id = "pedbut">
        <input style:'display:inline' type = "button" onclick = playRPS(1) value = "Papel" id = "papbut">
        <input style:'display:inline' type = "button" onclick = playRPS(2) value = "Tesoura" id = "tesbut">
    </body>
</html>